<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <title><%= title %></title>
    <link href="../static/style.css" rel="stylesheet">
</head>

<body>
    <h1>Deno ejs</h1>
    <p>Example render with ejs</p>
    <p>author:<%= author %></p>
    <p>github:<a href="<%= github %>">Deno+ejs example github</a></p>
</body>

</html>